body {
  background: green;
  color: white;
}

.first, .second {
  background: black;
  text-align: center;
  display: table;
  background-clip: content-box;
  padding: 50px;
  margin: 50px;
  border: 10px solid blue;
}

.first {
  width: 200px;
  height: 200px;
  top: 100px;
  left: 200px;
  z-index:2;
}

.second {
  width: 12.5em;
  height: 12.5em;
  top: 100px;
  left: 200px;
  z-index:1;
}

.third {
  width: 300px;
  height: 300px;
}

h1, h2 {
  vertical-align: middle;
  display: table-cell;
}
